/* * {
    font-family: 'Alegreya Sans', sans-serif;
    background: #160032;
    color: white;
} */

/* .body {
    background: #160032;
    
} */

/* FORM ADD FILM ------------------------------------------ */
/* #id_title,
#id_description,
#id_gender,
#id_duration,
#id_actors,
#id_director,
#id_trailer,
#id_accessAllowed {
    color: black;
    font-weight: 700;
    width: 300px;
}

#addFilmButton {
    background-color: aqua;
    color: black;
    font-weight: 700;
    width: 100px;
}

.containerForm {
    display: flex;
    flex-direction: column;
    margin: 10px
} */