{% extends 'layout.html' %}

{% load static %}

{% block content %}
<div class="containerFilm">
    <div class="container-title">
        <h1>{{film.title}}</h1>
    </div>

    <div class="container-img">
        <div class="imgFilm">
            <img class="filmImage" src=".{{ context }}{{ film.thumbnail }}" alt="">    
        </div>
        <div class="filmDetails">
            <span class="spanClass">{{film.accessAllowed}}</span>
            <div>
                <ul>
                    <li><span class="infoFilm">GÉNERO:</span> {{film.gender}}</li>
                    <li><span class="infoFilm">DURACIÓN:</span> {{film.duration}}</li>
                    <li><span class="infoFilm">ACTORES:</span> {{film.actors}}</li>
                    <li><span class="infoFilm">DIRECTOR:</span> {{film.director}}</li>
                </ul>
            </div>
        </div>
        <div class="layout2">
            <div class="container-info">
                <p>{{film.description}}</p>
            </div>
            <div class="container-video">
                <iframe class="videoStyle" src={{film.trailer}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            {% if film.estreno %}
            <div class="containerContactForm">
                <div class="">
                    <form action="/board/booking" method="post" enctype=multipart/form-data>
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                        <button class="contactFormBtn" type="submit" id="addFilmButton">Reservar</button>
                        <a class="contactFormBtn" href="/board" role="button">Volver</a>
                    </form>

                </div>

            </div>

            {% endif %}
        </div>
    </div>
    {% if not film.estreno %}
    <div class="btn-container">
        <a class="contactFormBtn" href="/board" role="button">Volver</a>
    </div>
    {% endif %}
</div>

{% endblock %}