{% extends 'layout.html' %}

{% load static %}

{% block content %}

<section class="containerBody">
    <div id="carouselExampleInterval" class="carousel slide carousel-fade carouselCapa" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="8000">
            <img src="{% static './img/when Harry met Sally.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="8000">
            <img src="{% static './img/descuentos.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="8000">
            <img src="{% static './img/Imagen1.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="8000">
            <img src="{% static './img/Imagen2.png' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

  </section>

{% endblock %}